[core]
	excludesfile = /Users/kotapiku/.gitignore_global
[user]
	name = kotapiku
	email = ice08235523@gmail.com
[commit]
	template = /Users/kotapiku/.stCommitMsg
[use]
	name = kotapiku
[fetch]
    prune=True
[alias]
    sync = !git checkout master && git pull origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v '*')
    new = "!f() { git sync; git checkout -b $USER/$(echo $@ | sed 's/\\ /-/g'); }; f"
[push]
    default = current
