[core]
    excludesfile = ~/.gitignore_global
    editor = neovim
[user]
    name = kotapiku
    email = ice08235523@gmail.com
[alias]
    sync = !git checkout master && git pull origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v '*')
    new = "!f() { git sync; git checkout -b $USER/$(echo $@ | sed 's/\\ /-/g'); }; f"
    logtree = "log --graph --oneline --decorate=full"
[fetch]
    prune = true
[pull]
    rebase = true
[push]
    default = current
[log]
    date = iso
[diff]
    algorithm = histogram
