[core]
    excludesfile = ~/.gitignore_global
    editor = nvim
[user]
    name = kotapiku
    email = ice08235523@gmail.com
[pull]
    rebase = false
[push]
    autoSetupRemote = true
    default = current
[init]
    defaultBranch = main
